In [1]:
# import the requirements.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
#reading csv file.
gym = pd.read_csv('Data/Raw data/gym_members_exercise_tracking.csv')

In [3]:
#Reading the first two rows of dataset.
gym.head(2)

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.2
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.0

In [4]:
#To change all upper case letters to lower case letters.
gym.columns = map(str.lower, gym.columns)

In [5]:
#Rename the column to make common column  to merge.
gym.rename(columns={'workout_frequency (days/week)': 'visit_per_week'}, inplace=True)

In [6]:
#Selecting the columns which are common in both dataset to merge.
new_gym = gym[['gender', 'age', 'visit_per_week']].copy()
new_gym.head(2)

   gender  age  visit_per_week
0    Male   56               4
1  Female   46               4

In [7]:
#Saving new_gym file to new_gym.csv file.
new_gym.to_csv('Data/Clean Data/new_gym.csv', index=False)

In [8]:
data = pd.read_csv('Data/Raw data/gym_membership.csv')

In [9]:
#Reading the first two rows of dataset.
data.head(2)

,id,gender,birthday,Age,abonoment_type,visit_per_week,days_per_week,attend_group_lesson,fav_group_lesson,avg_time_check_in,avg_time_check_out,avg_time_in_gym,drink_abo,fav_drink,personal_training,name_personal_trainer,uses_sauna
0,1,Female,1997-04-18,27,Premium,4,"Mon, Sat, Tue, Wed",True,"Kickboxen, BodyPump, Zumba",19:31:00,21:27:00,116,False,NaN,False,NaN,True
1,2,Female,1977-09-18,47,Standard,3,"Mon, Sat, Wed",False,NaN,19:31:00,20:19:00,48,False,NaN,True,Chantal,False

In [10]:
#To change any upper case letter to lower case letters.
data.columns = map(str.lower, data.columns)

In [11]:
# Selecting the columns which are common in both dataset to merge.
new_data = data[['gender', 'age', 'visit_per_week']]
new_data.head(2)

   gender  age  visit_per_week
0  Female   27               4
1  Female   47               3

In [12]:
#Save new_data file to csv file.
new_data.to_csv('Data/Clean Data/new_data.csv', index=False)