In [ ]:
# import the requirements.
import pandas as pd
import numpy as np 
#from pandas import index
#import seaborn as sns
#import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [19]:
# read the csv file.
gym = pd.read_csv(r"C:\Users\bhatt\Downloads\gym_members_exercise_tracking.csv")

In [44]:
gym

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,24,Male,87.1,1.74,187,158,67,1.57,1364.0,Strength,10.0,3.5,4,3,28.77
969,25,Male,66.6,1.61,184,166,56,1.38,1260.0,Strength,25.0,3.0,2,1,25.69
970,59,Female,60.4,1.76,194,120,53,1.72,929.0,Cardio,18.8,2.7,5,3,19.50
971,32,Male,126.4,1.83,198,146,62,1.10,883.0,HIIT,28.2,2.1,3,2,37.74
972,46,Male,88.7,1.63,166,146,66,0.75,542.0,Strength,28.8,3.5,2,1,33.38

In [52]:
gym.columns

Index(['Age', 'Gender', 'Weight (kg)', 'Height (m)', 'Max_BPM', 'Avg_BPM',
       'Resting_BPM', 'Session_Duration (hours)', 'Calories_Burned',
       'Workout_Type', 'Fat_Percentage', 'Water_Intake (liters)',
       'Workout_Frequency (days/week)', 'Experience_Level', 'BMI'],
      dtype='object')

In [20]:
# read 1st 5 rows from data file.
gym.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [21]:
# to check what data type.
gym.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            973 non-null    int64
 1   Gender                         973 non-null    object
 2   Weight (kg)                    973 non-null    float64
 3   Height (m)                     973 non-null    float64
 4   Max_BPM                        973 non-null    int64
 5   Avg_BPM                        973 non-null    int64
 6   Resting_BPM                    973 non-null    int64
 7   Session_Duration (hours)       973 non-null    float64
 8   Calories_Burned                973 non-null    float64
 9   Workout_Type                   973 non-null    object
 10  Fat_Percentage                 973 non-null    float64
 11  Water_Intake (liters)          973 non-null    float64
 12  Workout_Frequency (days/week)  973 non-null    int64
 13  Experience_Level               973 non-null    int64
 14  BMI                            973 non-null    float64
dtypes: float64(7), int64(6), object(2)
memory usage: 114.2+ KB

In [22]:
# To check if their is any null value.
gym.isnull().sum()

Age                              0
Gender                           0
Weight (kg)                      0
Height (m)                       0
Max_BPM                          0
Avg_BPM                          0
Resting_BPM                      0
Session_Duration (hours)         0
Calories_Burned                  0
Workout_Type                     0
Fat_Percentage                   0
Water_Intake (liters)            0
Workout_Frequency (days/week)    0
Experience_Level                 0
BMI                              0
dtype: int64

In [23]:
gym.dtypes

Age                                int64
Gender                            object
Weight (kg)                      float64
Height (m)                       float64
Max_BPM                            int64
Avg_BPM                            int64
Resting_BPM                        int64
Session_Duration (hours)         float64
Calories_Burned                  float64
Workout_Type                      object
Fat_Percentage                   float64
Water_Intake (liters)            float64
Workout_Frequency (days/week)      int64
Experience_Level                   int64
BMI                              float64
dtype: object

In [33]:
gym.age.describe()

AttributeError: 'DataFrame' object has no attribute 'age'

In [24]:
gym.describe

<bound method NDFrame.describe of      Age  Gender  Weight (kg)  Height (m)  Max_BPM  Avg_BPM  Resting_BPM  \
0     56    Male         88.3        1.71      180      157           60
1     46  Female         74.9        1.53      179      151           66
2     32  Female         68.1        1.66      167      122           54
3     25    Male         53.2        1.70      190      164           56
4     38    Male         46.1        1.79      188      158           68
..   ...     ...          ...         ...      ...      ...          ...
968   24    Male         87.1        1.74      187      158           67
969   25    Male         66.6        1.61      184      166           56
970   59  Female         60.4        1.76      194      120           53
971   32    Male        126.4        1.83      198      146           62
972   46    Male         88.7        1.63      166      146           66

     Session_Duration (hours)  Calories_Burned Workout_Type  Fat_Percentage  \
0                        1.69           1313.0         Yoga            12.6
1                        1.30            883.0         HIIT            33.9
2                        1.11            677.0       Cardio            33.4
3                        0.59            532.0     Strength            28.8
4                        0.64            556.0     Strength            29.2
..                        ...              ...          ...             ...
968                      1.57           1364.0     Strength            10.0
969                      1.38           1260.0     Strength            25.0
970                      1.72            929.0       Cardio            18.8
971                      1.10            883.0         HIIT            28.2
972                      0.75            542.0     Strength            28.8

     Water_Intake (liters)  Workout_Frequency (days/week)  Experience_Level  \
0                      3.5                              4                 3
1                      2.1                              4                 2
2                      2.3                              4                 2
3                      2.1                              3                 1
4                      2.8                              3                 1
..                     ...                            ...               ...
968                    3.5                              4                 3
969                    3.0                              2                 1
970                    2.7                              5                 3
971                    2.1                              3                 2
972                    3.5                              2                 1

       BMI
0    30.20
1    32.00
2    24.71
3    18.41
4    14.39
..     ...
968  28.77
969  25.69
970  19.50
971  37.74
972  33.38

[973 rows x 15 columns]>

In [25]:
gym.describe()

,Age,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
count,973.000000,973.000000,973.00000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000
mean,38.683453,73.854676,1.72258,179.883864,143.766701,62.223022,1.256423,905.422405,24.976773,2.626619,3.321686,1.809866,24.912127
std,12.180928,21.207500,0.12772,11.525686,14.345101,7.327060,0.343033,272.641516,6.259419,0.600172,0.913047,0.739693,6.660879
min,18.000000,40.000000,1.50000,160.000000,120.000000,50.000000,0.500000,303.000000,10.000000,1.500000,2.000000,1.000000,12.320000
25%,28.000000,58.100000,1.62000,170.000000,131.000000,56.000000,1.040000,720.000000,21.300000,2.200000,3.000000,1.000000,20.110000
50%,40.000000,70.000000,1.71000,180.000000,143.000000,62.000000,1.260000,893.000000,26.200000,2.600000,3.000000,2.000000,24.160000
75%,49.000000,86.000000,1.80000,190.000000,156.000000,68.000000,1.460000,1076.000000,29.300000,3.100000,4.000000,2.000000,28.560000
max,59.000000,129.900000,2.00000,199.000000,169.000000,74.000000,2.000000,1783.000000,35.000000,3.700000,5.000000,3.000000,49.840000

In [26]:
gym.describe().T.apply(lambda x: round(x,2))

,count,mean,std,min,25%,50%,75%,max
Age,973.0,38.68,12.18,18.00,28.00,40.00,49.00,59.00
Weight (kg),973.0,73.85,21.21,40.00,58.10,70.00,86.00,129.90
Height (m),973.0,1.72,0.13,1.50,1.62,1.71,1.80,2.00
Max_BPM,973.0,179.88,11.53,160.00,170.00,180.00,190.00,199.00
Avg_BPM,973.0,143.77,14.35,120.00,131.00,143.00,156.00,169.00
Resting_BPM,973.0,62.22,7.33,50.00,56.00,62.00,68.00,74.00
Session_Duration (hours),973.0,1.26,0.34,0.50,1.04,1.26,1.46,2.00
Calories_Burned,973.0,905.42,272.64,303.00,720.00,893.00,1076.00,1783.00
Fat_Percentage,973.0,24.98,6.26,10.00,21.30,26.20,29.30,35.00
Water_Intake (liters),973.0,2.63,0.60,1.50,2.20,2.60,3.10,3.70
Workout_Frequency (days/week),973.0,3.32,0.91,2.00,3.00,3.00,4.00,5.00
Experience_Level,973.0,1.81,0.74,1.00,1.00,2.00,2.00,3.00
BMI,973.0,24.91,6.66,12.32,20.11,24.16,28.56,49.84

AttributeError: 'DataFrame' object has no attribute 'age'

In [29]:
#gym.age.unique()
gym.points.mean()

AttributeError: 'DataFrame' object has no attribute 'points'

In [ ]:
data = pd.read_csv(r"C:\Users\bhatt\Downloads\gym_membership.csv")

In [ ]:
data.head()

,id,gender,birthday,Age,abonoment_type,visit_per_week,days_per_week,attend_group_lesson,fav_group_lesson,avg_time_check_in,avg_time_check_out,avg_time_in_gym,drink_abo,fav_drink,personal_training,name_personal_trainer,uses_sauna
0,1,Female,1997-04-18,27,Premium,4,"Mon, Sat, Tue, Wed",True,"Kickboxen, BodyPump, Zumba",19:31:00,21:27:00,116,False,NaN,False,NaN,True
1,2,Female,1977-09-18,47,Standard,3,"Mon, Sat, Wed",False,NaN,19:31:00,20:19:00,48,False,NaN,True,Chantal,False
2,3,Male,1983-03-30,41,Premium,1,Sat,True,XCore,08:29:00,10:32:00,123,True,"berry_boost, lemon",True,Mike,False
3,4,Male,1980-04-12,44,Premium,3,"Sat, Tue, Wed",False,NaN,09:54:00,11:33:00,99,True,passion_fruit,True,Mike,True
4,5,Male,1980-09-10,44,Standard,2,"Thu, Wed",True,"Running, Yoga, Zumba",08:29:00,09:19:00,50,False,NaN,True,Mike,False